<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script type="text/javascript" src='/jquery.js'></script>
    <script src="/underscore.js"></script>
    <link rel="stylesheet" href="/pure.css">
</head>
<body>
    <div class="">
        <div class="">
            <div class="container" contenteditable="true">
                123123
            </div>
        </div>

    </div>

    <div>
        <ul  class="resource">
        </ul>
    </div>
</body>
<script src="/app.js"></script>
</html>
